---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: canopy-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: canopy-ui
  template:
    metadata:
      labels:
        app: canopy-ui
    spec:
      containers:
        - name: canopy-ui
          image: quay.io/rlundber/{{ .Values.image.name }}:{{ .Values.image.tag }}
          ports:
            - containerPort: 8501
          env:
           {{- if not .Values.BACKEND_ENDPOINT}}
            - name: LLM_ENDPOINT
              value: "{{ .Values.LLM_ENDPOINT }}"
            - name: SYSTEM_PROMPT
              value: "{{ .Values.SYSTEM_PROMPT}}"
            - name: MODEL_NAME
              value: "{{ .Values.MODEL_NAME }}"
          {{- else }}
            - name: BACKEND_ENDPOINT
              value: "{{ .Values.BACKEND_ENDPOINT }}"
          {{- end }}