---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: canopy-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: canopy-ui
  template:
    metadata:
      labels:
        app: canopy-ui
    spec:
      containers:
        - name: canopy-ui
          image: quay.io/rlundber/canopy-ui:0.2
          ports:
            - containerPort: 8501
          env:
            - name: LLM_ENDPOINT
              value: ""
            - name: SYSTEM_PROMPT
              value: "Summarize this text."
            - name: MODEL_NAME
              value: "tinyllama"
